{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ post.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <h2>{{ coder }}</h2>
                <p class="card-text">
                    <!-- By default, Django treats content coming from a 3rd party, such 
                         as Summernote, as unsafe, which helps to protect your site from attackers.
                         We only need to use | safe on the blog content and not on the 
                         title or excerpt because Summernote formatted our blog content as HTML. -->
                    {{ post.content | safe }} <!-- The safe filter tells Django that this content is safe to be interpreted as HTML -->
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}